/* global */
body {
  font-family: "Lobster", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* navbar */
.navbar-custom {
  background-color: #f9f2d6;
  font-size: 1.25em;
}

.navbar-nav > .nav-item > .nav-link.active,
.nav-link:hover {
  color: #116011;
}

/* main */
main {
  background-color: #f9f2d6;
  flex: 1 0 auto;
}

.front-img {
  border-radius: 50%;
  margin-top: 10%;
}

h2.greeting-text {
  margin-bottom: 0.5em;
  font-size: 5em;
}

h5.subgreeting-text {
  max-width: 15em;
  font-size: 2em;
}

span.name-text {
  color: #116011;
}

.about-card {
  max-width: 35rem;
  max-height: 35rem;
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.about-img {
  max-width: 35rem;
  max-height: 35rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
  transition: opacity 0.5s ease;
}

.about-txt {
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 0.5s ease;
  text-align: center;
}

.about-card:hover .about-txt {
  opacity: 1;
}

.about-card:hover img {
  opacity: 0.5;
}

/* footer */
.footer-custom {
  background-color: #f9f2d6;
  font-size: 1.25em;
}
